<div>
    <h2 data-translate="dogappApp.dog.home.title">Dogs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dog.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="dogappApp.dog.home.createLabel">
                        Create new Dog
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    
    <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-lg="8" md-cols-gt-lg="12">
      <md-grid-tile  ng-repeat="dog in vm.dogs track by dog.id">
       <a ui-sref="dog-detail({id:dog.id})"><img  style="height:50px;width:50px;border-width:0px;" 
	     alt="dog image" src="api/dogs/image/{{dog.id}}" title="dog image"></a>
      </md-grid-tile>
    </md-grid-list>
    
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
